<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Project</display-name>
    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>csci310.servlets.AvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockedListServlet</servlet-name>
        <servlet-class>csci310.servlets.BlockedListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventRecommenderServlet</servlet-name>
        <servlet-class>csci310.servlets.EventRecommenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>csci310.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>csci310.servlets.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEventServlet</servlet-name>
        <servlet-class>csci310.servlets.SearchEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUserServlet</servlet-name>
        <servlet-class>csci310.servlets.SearchUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendProposalServlet</servlet-name>
        <servlet-class>csci310.servlets.SendProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProposalServlet</servlet-name>
        <servlet-class>csci310.servlets.GetProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendResponseServlet</servlet-name>
        <servlet-class>csci310.servlets.SendResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetResponseServlet</servlet-name>
        <servlet-class>csci310.servlets.GetResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFinalizedProposalServlet</servlet-name>
        <servlet-class>csci310.servlets.SendFinalizedProposalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendFinalResponseServlet</servlet-name>
        <servlet-class>csci310.servlets.SendFinalResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFinalResponseServlet</servlet-name>
        <servlet-class>csci310.servlets.GetFinalResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/Availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockedListServlet</servlet-name>
        <url-pattern>/BlockedList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventRecommenderServlet</servlet-name>
        <url-pattern>/EventRecommender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/auth/signUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEventServlet</servlet-name>
        <url-pattern>/search/event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUserServlet</servlet-name>
        <url-pattern>/search/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendProposalServlet</servlet-name>
        <url-pattern>/proposal/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProposalServlet</servlet-name>
        <url-pattern>/proposal/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendResponseServlet</servlet-name>
        <url-pattern>/response/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetResponseServlet</servlet-name>
        <url-pattern>/response/get</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFinalizedProposalServlet</servlet-name>
        <url-pattern>/proposal/finalized</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendFinalResponseServlet</servlet-name>
        <url-pattern>/response/finalized/send</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFinalResponseServlet</servlet-name>
        <url-pattern>/response/finalized/get</url-pattern>
    </servlet-mapping>
</web-app>
